@font-face {
    font-family: myFirstFont;
    src: url(/AlumniSansPinstripe-Regular.ttf);
  }

*{
    margin:0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #1d1d1d;
            color: #ffffff;
        }

        .header {
            background-color:rgb(131, 199, 29);
            padding: 20px;
            text-align: center;
            color: #ffffff;
        }

        .container {
            display: flex;
            justify-content: space-between;
            padding: 40px;
        }

        .left-content {
            flex: 1;
            padding-right: 40px;
        }

        .left-content h2 {
            background-color:rgb(131, 199, 29);
            font-size: 30px;
        }

        .instructions {
            font-size: 18px;
            margin-top: 20px;
        }

        .right-content {
            flex: 1;
            text-align: center;
            margin-left: 30px;
        }

        .right-content h2 {
            background-color:rgb(131, 199, 29);
            font-size: 30px;
        }

        .upload-box {
            background-color: #2b2b2b;
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
            display: inline-block;
        }

        .upload-box input[type="file"] {
            padding: 10px;
            background-color:rgb(131, 199, 29);
            border: none;
            color: #000;
            cursor: pointer;
        }

        button {
            padding: 10px 20px;
            margin-top: 20px;
            background-color:rgb(131, 199, 29);
            border: none;
            cursor: pointer;
            color: #000;
            font-size: 18px;
        }

        button:hover {
            background-color:rgb(131, 199, 29);
        }

        .footer {
            background-color:rgb(131, 199, 29);
            text-align: center;
            padding: 10px;
            position: absolute;
            width: 100%;
            bottom: 0;
        }

        .footer p {
            color: #000;
        }
